<div class="banner-w3l">
    <div class="tc-brand font-0">The CRAFT Pâtisserie</div>
    @*<div class="index-img1">
        <img src="~/images/1.png" />
    </div>*@
    <div class="tc-slogan">
        <div class="tc-slogan-ln1 font-5">
            <span>HAND CRAFTED</span>
        </div>
        <div class="tc-slogan-ln2 font-3">
            <span>CAKE</span>
        </div>
        <div class="menu-ref">
            <a href="~/Home/Menu"><span>MENU</span></a>
        </div>
    </div>
</div>
<section class="twoside idx1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block2-txt">
                    <div>
                        <div class="block-title">
                            <div class="font-5">OUR FLAVORS</div>
                            <div class="font-0">Fresh n' Tasty!</div>
                        </div>
                        <div class="block-des font-5">
                            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                        </div>
                        <div class="menu-ref">
                            <a href="~/Home/Menu"><span>MENU</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
<section class="services-wthree">
    <div class="container">
        <div class="block3-txt">
            <div class="font-5">ENJOY</div>
            <div class="font-3" style="letter-spacing: -0.1em;">DAIRY FREE</div>
        </div>
        <div class="menu-ref">
            <a href="~/Home/Menu"><span>MENU</span></a>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<section class="twoside idx2">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="block2-txt">
                    <div>
                        <div class="block-title">
                            <div class="font-5">OUR FLAVORS</div>
                            <div class="font-0">Fresh n' Tasty!</div>
                        </div>
                        <div class="block-des font-5">
                            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                        </div>
                        <div class="menu-ref">
                            <a href="~/Home/Menu"><span>MENU</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-bottom">
    <div class="bg-img">
        @*<div class="bottom-img"></div>*@
    </div>
    <div class="bottom-tag">#DOUBLE TAP</div>
</section>
<div id="banner-slider" class="owl-carousel owl-theme">
    <div class="item">
        <img src="~/images/4.jpg" />
    </div>
    <div class="item">
        <img src="~/images/5.jpg" />
    </div>
    <div class="item">
        <img src="~/images/7.jpg" />
    </div>
    <div class="item">
        <img src="~/images/8.jpg" />
    </div>
</div>