<link href="~/Content/css/menu.css" rel="stylesheet" />
<div class="banner-menu">
    <div class="tc-brand font-0">The CRAFT Pâtisserie</div>
    <div class="tc-slogan">
        <div class="tc-slogan-ln1 font-5">
            <span>OUR</span>
        </div>
        <div class="tc-slogan-ln2 font-3">
            <span>FLAVORS</span>
        </div>
    </div>
</div>
<section class="menu-content">
    <div class="container">
        <div class="row">
            <div class="title">
                <div>ICE CREAM FLAVORS</div>
                <div class="txt-decor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
                <div class="name">OREO</div>
                <div class="txt-decor-item"></div>
                <div class="item-des">
                    I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.
                </div>
                <div class="price">9$</div>
            </div>
        </div>
    </div>
</section>
