<link href="~/css/workshop.css" rel="stylesheet" />
<div class="banner-workshop">
    <div class="tc-brand font-0">The CRAFT Pâtisserie</div>
    <div class="tc-slogan-about">
        <div class="tc-slogan-ln1 font-5">
            <span>Workshop</span>
        </div>
        <div class="tc-slogan-ln2 font-3">
            <span>The CRAFT Pâtisserie</span>
        </div>
    </div>
</div>
<section class="workshop-content">
    <div class="container">
        <div class="row">
            <div class="title">
                <div>ICE CREAM FLAVORS</div>
                <div class="txt-decor"></div>
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action("Course1", "Workshop")">
                <div class="col-md-4 text-center workshop-item" onclick="">
                    <div>
                        <img src="~/images/Menu/banh1.jpeg" />
                        <div class="workshop-item-info">
                            <div>
                                <div class="workshop-item-tit font-7">
                                    Tarte - Framboise Verveine
                                </div>
                                <p class="workshop-item-des font-5">
                                    Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
           
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                    <div class="workshop-item-info">
                        <div class="workshop-item-tit font-7">
                            Tarte - Framboise Verveine
                        </div>
                        <p class="workshop-item-des font-5">
                            Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                    <div class="workshop-item-info">
                        <div class="workshop-item-tit font-7">
                            Tarte - Framboise Verveine
                        </div>
                        <p class="workshop-item-des font-5">
                            Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                    <div class="workshop-item-info">
                        <div class="workshop-item-tit font-7">
                            Tarte - Framboise Verveine
                        </div>
                        <p class="workshop-item-des font-5">
                            Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                    <div class="workshop-item-info">
                        <div class="workshop-item-tit font-7">
                            Tarte - Framboise Verveine
                        </div>
                        <p class="workshop-item-des font-5">
                            Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                    <div class="workshop-item-info">
                        <div class="workshop-item-tit font-7">
                            Tarte - Framboise Verveine
                        </div>
                        <p class="workshop-item-des font-5">
                            Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                    <div class="workshop-item-info">
                        <div class="workshop-item-tit font-7">
                            Tarte - Framboise Verveine
                        </div>
                        <p class="workshop-item-des font-5">
                            Découvrez en exclusivité la première tarte ronde du chef, un trop plein de saveurs et de fraîcheur en bouche...
                        </p>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
            </div>
            <div class="col-md-4 text-center workshop-item">
                <div>
                    <img src="~/images/Menu/banh1.jpeg" />
                </div>
            </div>*@
        </div>
    </div>
</section>