.font-0 {
    font: normal normal normal 40px/1.4em belinda-w00-regular,script;
}

.font-3 {
    font: normal normal normal 115px/1.4em lulo-clean-w01-one-bold,sans-serif;
}

.font-5 {
    font: normal normal normal 38px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
}

.font-7 {
	font: normal normal normal 24px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
}

.font-8 {
    font: normal normal normal 16px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
}