.banner-menu {
    background-color: rgba(181, 232, 213, 1);
    height: 50vh;
    text-align: center;
    display: table;
    width: 100%;
}
.tc-slogan-menu {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
    .tc-slogan-menu .tc-slogan-ln2 {
        font-size: 6em;
    }

.menu-item img {
    width: 232px;
    height: 232px;
}

.menu-content {
	background-color: rgba(247, 247, 247, 1);
}

    .menu-content .title {
        text-align: center;
        margin-top: 40px;
    }

        .menu-content .title > div:nth-child(1) {
            font-size: 40px;
            margin-bottom: 20px;
            font-weight: 600;
            font: normal normal normal 38px/1.5em dinneuzeitgroteskltw01-_812426,sans-serif;
        }

	.menu-content .txt-decor, .menu-content .txt-decor-item {
		background-color: rgb(0, 0, 0);
		width: 100px;
		height: 2px;
		margin: 0 auto 50px auto;
	}

	.menu-content .txt-decor-item {
		width: 200px;
		height: 2px;
		margin: 0 auto 15px auto;
	}

    .menu-content .name {
        font: normal normal normal 24px/1.5em dinneuzeitgroteskltw01-_812426,sans-serif;
        color: rgb(93, 57, 81);
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: 18px;
        font-size: 22px;
    }

    .menu-content .item-des {
        font-size: 15px;
        font: normal normal normal 16px/1.5em dinneuzeitgroteskltw01-_812426,sans-serif;
        line-height: 1.6;
    }

	.menu-content .price {
		font-weight: 600;
		font-size: 22px;
		margin-top: 30px;
	}

.banner-menu .tc-slogan {
    top: 35%;
}
.banner-menu .tc-slogan-ln2 {
    font-size: 6em;
}

