.banner-about {
    background-color: rgba(195, 169, 212, 1);
    min-height: 450px;
    text-align: center;
    display: table;
    width: 100%;
}
.tc-slogan-about {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
    .tc-slogan-about .tc-slogan-ln2 {
        font-size: 6em;
    }
.about-block {
    display: table;
    width: 100%;
    padding: 50px 350px 40px 350px;
}

    .about-block .description {        
        display: table-cell;
        vertical-align: middle;
    }

.description > div {
    text-align: center;
}

.description .sub-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 45px;
}

.about-img {
    background: url(../../images/3.png) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 400px;
}