@media (min-width: 1200px) {
	.container {
		max-width: 1260px;
		padding: 30px;
	}

    .social-icons-agileits {
        padding-right: 50px;
    }

    .tc-top-container {
        top: 85px;
    }
}

@media (min-width: 992px) {
	.container {
		max-width: 1260px;
	}
}

@media (min-width: 768px) {

}

@media (min-width: 576px) {

}



@media (max-width: 900px) {
    .header-w3 {
        height: 9vh;
    }
    .banner-w3l {
        height: 91vh;
    }

    .tc-slogan {
        top: 55%;
    }

    .tc-slogan-ln2 {
        font-size: 4em;
    }
}
