@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .header-w3 {
        height: 9vh;
    }
    .banner-w3l {
        height: 91vh;
    }

    .tc-slogan {
        top: 55%;
    }

    .tc-slogan-ln2 {
        font-size: 4em;
    }
}
