<div class="tc-banner-1">
    <div class="tc-name">The CRAFT Pâtisserie</div>
    <div class="bg-block-1">
        <img src="~/images/b1.png" />
    </div>
</div>
<div class="banner-btm-w3-agile">
    <div class="container">
        <div class="col-md-6 banner-btm-left-w3ls">
            <h3>Fashion And Style</h3>
            <h4>The joy of dressing is an art</h4>
            <p>Resurgent economies, set of complex and intriguing challenges to businesses operating in this environment. Along with the impending outlook towards business expansion and growth.</p>
            <p class="w3layouts">Resurgent economies, set of complex and intriguing challenges to businesses operating in this environment. Along with the impending outlook towards business expansion and growth.</p>
        </div>
        <div class="col-md-6 banner-btm-right-w3ls">
            <div class="col-md-6 banner-btm-right-w3ls-one">
                <div class="gap">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="images/bb1.jpg" alt=" " />
                        </figure>
                    </div>
                </div>
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="images/bb2.jpg" alt=" " />
                    </figure>
                </div>
            </div>
            <div class="col-md-6 banner-btm-right-w3ls-two">
                <div class="gap">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="images/bb3.jpg" alt=" " />
                        </figure>
                    </div>
                </div>
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="images/bb4.jpg" alt=" " />
                    </figure>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="services-wthree">
    <div class="container">
        <h3>Our Services</h3>
        <div class="col-md-4 service-grids">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            <h4>Integer porttitor</h4>
            <p>Donec eget pellentesque ipsum. Mauris dolor est, vulputate a eros eget, varius volutpat ante. Vivamus condimentum fringilla varius.</p>
        </div>
        <div class="col-md-4 service-grids service-grid2">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <h4>Proin lacus </h4>
            <p>Donec eget pellentesque ipsum. Mauris dolor est, vulputate a eros eget, varius volutpat ante. Vivamus condimentum fringilla varius.</p>
        </div>
        <div class="col-md-4 service-grids">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <h4>Tempus urna</h4>
            <p>Donec eget pellentesque ipsum. Mauris dolor est, vulputate a eros eget, varius volutpat ante. Vivamus condimentum fringilla varius.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="services-bottom">
    <div class="container">
        <h3>News And Events</h3>
        <div class="col-md-5 services-bottom-left">
            <div class="services-bottom-left-img">
                <a href="single.html"></a>
            </div>
            <a href="single.html"><h4>Proin lacus</h4></a>
            <h5>12/09/2016</h5>
            <p>Resurgent economies, set of complex and intriguing challenges to businesses operating in this environment.</p>
            <a href="single.html" class="spcl">Read More</a>
        </div>
        <div class="col-md-7 services-bottom-right">
            <div class="news-2">
                <div class="col-md-3 small-img">
                    <a href="single.html"><img src="images/sb2.jpg" alt=" " /></a>
                </div>
                <div class="col-md-9 news-text">
                    <a href="single.html"><h4> Proin lacus </h4></a>
                    <h5>19/09/2016</h5>
                    <p>Donec eget pellentesque ipsum. Mauris dolor est,eget, varius volutpat ante. </p>
                    <a href="single.html" class="spcl">Read More</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-3">
                <div class="col-md-3 small-img sb-gap">
                    <a href="single.html"><img src="images/sb3.jpg" alt=" " /></a>
                </div>
                <div class="col-md-9 news-text sb-gap">
                    <a href="single.html"><h4>Turpis ipsum</h4></a>
                    <h5>21/09/2016</h5>
                    <p>Vivamus condimentum fringilla varius. Duis ullamcorpe,vitae rutrum ex mattis</p>
                    <a href="single.html" class="spcl">Read More</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="stats" id="stats">
    <div class="container">
        <div class="stats-info">
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
                <p class="stats-info">Followers</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3000' data-delay='.5' data-increment="1">3000</div>
                <p class="stats-info">Designs</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9000' data-delay='.5' data-increment="10">9000</div>
                <p class="stats-info">Clients</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
                <p class="stats-info">Awards</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="subscribe">
    <div class="container">
        <h3>Subscribe Here</h3>
        <form action="#" method="post">
            <input type="text" name="Name" placeholder="Enter Email..." required="">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<div class="footer-agileits-w3layouts" id="footer">
    <div class="container">
        <div class="col-md-4 footer-left-agile">
            <h1><a href="#">Adore</a></h1>
            <p>Integer porttitor elit sit amet ullamcorper venenatis. Suspendisse in ornare magna, vitae scelerisque lectus. Proin lacus tellus, tincidunt sed sem quis</p>
        </div>
        <div class="col-md-4 footer-middle-w3-agileits">
            <h3>Address</h3>
            <ul>
                <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
                <li>345 Setwant natrer,Washington. United States</li>
            </ul>
            <ul class="gap">
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                <li>+18044268943</li>
            </ul>
            <ul>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
                <li><a href="mailto:info@example.com">example@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-md-4 footer-right-w3layouts">
            <h3>Contact</h3>
            <form action="#" method="post">
                <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                <input type="text" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="copy-w3-agileits">
    <div class="container">
        <p>© 2016 Adore. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>