<div class="banner-w3l">
    <div class="tc-brand">The CRAFT Pâtisserie</div>
    <div class="firstblock-img"></div>
    <div class="tc-slogan">
        <div class="tc-slogan-ln1">
            <span>HAND CRAFTED</span>
        </div>
        <div class="tc-slogan-ln2">
            <span>CAKE</span>
        </div>
        <div class="menu-ref">
            <a href="~/Home/Menu"><span>MENU</span></a>
        </div>
    </div>
</div>
<div class="banner-btm-w3-agile">
    <div class="container">
        <div class="col-md-6 tc-b1-img"></div>
        <div class="col-md-6">
            <div class="block2-txt">
                <div class="block-title">
                    <div>OUR FLAVORS</div>
                    <div>Fresh n' Tasty!</div>
                </div>
                <div class="block-des">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                </div>
                <div class="menu-ref">
                    <a href="~/Home/Menu"><span>MENU</span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="services-wthree">
    <div class="container">
        <div class="block3-txt">
            <div>ENJOY</div>
            <div>DAIRY FREE</div>
        </div>
        <div class="menu-ref">
            <a href="~/Home/Menu"><span>MENU</span></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="banner-btm-w3-agile">
    <div class="container">
        <div class="col-md-6">
            <div class="block2-txt">
                <div class="block-title">
                    <div>OUR PLACE</div>
                    <div>Ice cream by the sea</div>
                </div>
                <div class="block-des">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                </div>
                <div class="menu-ref">
                    <a href="~/Home/Menu"><span>MENU</span></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 tc-b3-img"></div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="services-wfour">
    <div class="container">
        <div class="block3-txt">
            <div>CATERING & MORE</div>
            <div>EVENTS</div>
        </div>
        <div class="menu-ref">
            <a href="~/Home/Menu"><span>MENU</span></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="banner-btm-w3-agile">
    <div class="container">
        <div class="col-md-6 tc-b5-img"></div>
        <div class="col-md-6">
            <div class="block2-txt">
                <div class="block-title">
                    <div>DESSERTS</div>
                    <div>Ice cream goodies</div>
                </div>
                <div class="block-des">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                </div>
                <div class="menu-ref">
                    <a href="~/Home/Menu"><span>MENU</span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="services-bottom">
    <div class="container">
        <div></div>
        <div class="clearfix"></div>
    </div>
    <div class="bottom-tag">#DOUBLE TAP</div>
</div>